
[Unit]
Description=HTTP Server 
After=network.target

[Service]
Type=simple
User=Username #Replace Username with your username 
WorkingDirectory= Put the HTTPServer directory location here e.g path/to/HTTPServer
ExecStart=Put path to the executable here e.g /home/HTTPServer/Empire
Restart=always 
RestartSec=3

[Install]
WantedBy=multi-user.target
