<!DOCTYPE html>
<html>
<head>
    <title>Uploaded Files</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/genericStyles.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/cloudStorageStyles.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/fileBrowserStyles.css">
</head>
<body>
    <div class="Container">
        <div class="Header">
            <h1>Folder: {{.FolderName}}</h1>
        </div>

        {{if .UploadSuccess}}
        <p class="success">File uploaded successfully</p>
        {{end}}

        <form action="/upload?folder={{.FolderName}}" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <button type="submit">Upload</button>
        </form>

        <div class="MenuContainer">
            <ul>
                {{range .Files}}
                    <li>
                        <a href="/files/{{$.FolderName}}/{{.}}">{{.}}</a>
                        <a href="/Cloud/download?file={{$.FolderName}}/{{.}}">Download</a>
                    </li>
                {{else}}
                    <li>No files uploaded yet.</li>
                {{end}}
            </ul>
        </div>
    </div>
</body>
</html>


